* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: #fff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

a.full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

a {
  &:hover {
    transition: 0.2s linear all;
    color: #1db954;
  }
}

label {
  display: block;
  margin-bottom: 12px;
}

input {
  display: block;
  margin-bottom: 20px;
  padding: 12px 8px;
  font-size: 21px;
  border-radius: 12px;
  border: none;
  &::placeholder {
    font-size: 21px;
  }
}


button{
  padding: 12px;
  font-size: 24px;
  font-weight: 500;
  background: transparent;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.3s linear;
  color: #fff;
  &:hover{
      background-color: $main-color;
      color: #1DB954;
  }
}